<a href="https://colab.research.google.com/github/Indraniel07/EXP-1/blob/main/exp8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

name=Indraniel Wandkar
PRN=25070123156
Title=to study for loop in python

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
n=int(input("enter a number"))
total=0
for i in range(1,n+1):
  total += i
print("sum is :" , total)

enter a number5
sum is : 15

In [ ]:
A=[[1,2,3],
  [4,5,6],
  [6,7,8]]
for i in range(3):
  for j in range(3):
      print(A[i][j],end=" ")
  print()

1 2 3
4 5 6
6 7 8

In [ ]:
A=[[1,2,3],
    [4,5,6],
    [6,7,8]]
B=[[1,1,1],
   [6,5,4],
   [3,2,1]]
result=[[0,0,0],
        [0,0,0],
        [0,0,0]]
for i in range(3):
  for j in range(3):
    for k in range(3):
       result[i][j] += A[i][k] * B[k][j]


for row in result:
  print(row)

[22, 17, 12]
[52, 41, 30]
[72, 57, 42]

In [ ]:
d1=1
d2=2
d3=3
d=[d1,d2,d3]

for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if (d[i]!=d[j] and d[j]!=d[k] and d[k] !=d[i]):
       print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
for i in range(1,6):
  print("&"*i)

&
&&
&&&
&&&&
&&&&&

In [ ]:
rows=5
for i in range(1,rows+1):
  print(" " *(rows-i)+"* "*i)

    *
   * *
  * * *
 * * * *
* * * * *